/nbproject/
/vendor/
/runtime/*
/addons/*
/application/admin/command/Install/*.lock
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
/application/extra/site.php
/application/database.php
/public/*_.php
.idea
composer.lock
*.log
database.php
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
*.zip